extends layout

block content
    ul.nav(style='margin-top: 80px').navbar-dark.bg-dark

    h1 Search results

    table.table
        thead
            th Title
            //- th Release Date
            //- th IMDb Rating
            //- th actors
            //- th runtime
            th score
            th seen
            th
        tbody
            each movie in movies
                tr
                    td
                        a(href='/view/#{movie._id}') #{movie.title}
                    //- td #{moment(movie.release_date).format("DD/MM/YYYY")}
                    //- td #{movie.imdb_rating}
                    //- td #{movie.runtime}
                    td
                        #{movie._score}
                    td
                        td #{movie.seen ? 'Vu' : 'Pas Vu'}
                    td
                        a(href='/edit/#{movie._id}') 🖊️
                        a(href='/delete/#{movie._id}') 🗑️

